:root{
  --clr-primary: #1338be;
  --clr-light: rgb(131, 255, 253);
  --clr-dark: #142d88;
  --clr-darker: #071138;
}


*
*::before,
*::after{
  padding: 0;
  margin: 0;  
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  display: grid;
  font-size: 1.5rem;
  color: var(--clr-primary);
  grid: "header header header header" auto
  "..... lists active ....." auto 
  "..... ..... btndelete ...." auto /

  1fr minmax(100px, 350px) minmax(250px, 500px) 1fr;
  margin: 0;
}

.navbar{
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content:space-between;
  background-color: var(--clr-primary);
  color: white;
  padding: 25px;
  margin-bottom: 40px;
  box-shadow: 0px 0px 10px rgba(0 ,0 ,0 ,0.4);
}

h1{
  font-size: 2rem;
  font-weight: 800;
  margin: 0;
}

.btn{
  cursor: pointer;
  background: 0;
  border: 0;
  padding: 0 10px;
  color: inherit;
}

.btn.list{
  font-size: 1.5rem;
  font-weight: 700;
  transition: opacity 250ms ease-in-out;
}

.btn:hover{
  opacity: 0.7;
}



/* task list*/

.all-tasks{
  grid-area: lists;
  padding: 0 0 0 20px;
}

.list-name{
  cursor: pointer;
}

.list-name:hover{
  opacity: 0.5;
  transition: opacity 100ms ease-in-out;
}

.task-list{
  line-height: 1.7;
  font-size: 1.2rem;
  list-style: circle;
}

form{
  display: flex;
}

 
.tip{
 font-size: 0.7em;
 padding: 0 36px;
}

.new{
  background: transparent;
  border: 0;
  color: inherit;
  border-bottom: 1px solid currentColor;
  font-size: inherit;
  order: 2;
  
  transition: border-bottom 100ms ease-in;
}

.new:focus{
  border-bottom-width: 3px;
}

.new:focus::placeholder{
  opacity: 0.3;
}

.active-list{
  font-weight: 700;
}

/* to do */

.todo-list{
  grid-area: active;
  background-color: var(--clr-primary);
  color: white;
}

.todo-header{
  background-color: var(--clr-dark);
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.todo-title{
  margin:0;
  margin: 0 1rem 0 0;
}

.task-count{
  margin:0;
  font-size: 1rem;
  font-weight: 300;
}

.todo-body{
  padding: 2rem;
  position: relative;
}

[type="checkbox"]{
  opacity: 0;
  position: absolute;
}

.task label{
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 1em;
}

.task label::after{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20%;
  background-color: currentColor;
  height: 1px;
  opacity: 0.2;
}

.custom-checkbox{
  --size: 0.60em;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  border: 2px solid currentColor;
  border-radius: 50%;
  margin-right: var(--size);
  transform: scale(1);
  transition: transform 270ms ease-in-out;
}

.task:hover .custom-checkbox,
[type="checkbox"]:focus + label .custom-checkbox{
  transform: scale(1.2);
  color:var(--clr-light);
}

[type="checkbox"]:checked + label .custom-checkbox{
  background-color: var(--clr-light);
  transform: scale(1);
  border:var(--clr-light) solid;
}

[type="checkbox"]:checked + label{
  opacity: 0.5;
}



.btn.task{
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  transition: opacity 250ms ease-in-out;
}

.task::placeholder{
  color: white;
  opacity: 0.5;
}

.delete-stuff {
  grid-area: btndelete;
  display: flex;
  justify-content: space-evenly;
  color: var(--clr-primary);
  padding-top: 20px;
}

.btn.delete:hover{
  opacity: 0.7;
  color: red;
}








/* menu */
.hamburger{
  cursor: pointer;
  z-index: 1002;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}


.hamburger.active .bar:nth-child(2){
 opacity: 0;
 background-color: white;
}

.hamburger.active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
  background-color: white;
}

.hamburger.active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
  background-color: white;
}

.sliding{
  background-color: rgb(40, 40, 40);
  position: fixed;
  right: 0;
  top: 0;
  transform: translate3d(100vw, 0, 0);
  height: 100vh;
  z-index: 1001;
  display: flex;
  justify-content: center;
  transition: transform .3s cubic-bezier(0, .52, 0, 1);
  box-shadow: 0px 0px 10px rgba(0 ,0 ,0 ,0.4);
}

.nav-list{
  list-style: none;
  display: flex;
  flex-direction:column;
  align-items: flex-end;
  padding-top: 120px;
  padding-left: 0;
  margin: 0;
}

.nav-item a{
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 800;
  padding: 20px;
}

.nav-item:hover{
  opacity: 70%;
}

.sliding.visible{
  transform: translate3d(0vw, 0, 0);
}

.sliding hr{
  border: 1px solid white;
  width: 100%;
}